@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('Comfortaa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Medium';
    src: url('Comfortaa-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('Comfortaa-SemiBold.ttf') format('truetype');
}
html{
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    font-family: 'Comfortaa-Medium';
    font-size: 16px;
    color: black;
}
header{
    position: fixed;
    z-index: 10;
    width:  100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
   
}
header .logo{
    width: 80px;
    margin-left: 20px;
}
header .panier{
    width: 30px;
    margin-right: 20px;
}
nav a{
   color: white;
   font-family: 'Comfortaa-Light';
   text-decoration: none;
   margin: 30px;
   padding-bottom: 10px;
}
nav a:hover{
    color: rgb(2, 109, 0);
    transition: 1s;
}
nav .accueil{
    border-bottom: 2px solid white;
}
nav .accueil:hover{
    border-bottom: 2px solid rgb(2, 109, 0);
}
section{
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 500px;
    background-color: black;
}
section h2{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: xx-large;
    line-height: 100vh;
    color: rgb(2, 109, 0);
    font-weight: 700;  
}
.banner{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.banner .blocks{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vh;
    background: black;
    animation: animate 2s ease-in-out forwards;
}
@keyframes animate{
    0%{
        transform: translateZ(2000px);
        background: url(../Images/opening_image.JPG) no-repeat fixed;
    }
    100%{
        transform: translateZ(0px);
        background: url(../Images/opening_image.JPG);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    }
}
section.active .banner .blocks{
    animation: animateTwo 2s ease-in-out forwards;
    background: url(../Images/opening_image.JPG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
@keyframes animateTwo{
    0%{
        transform: translateZ(0px);
        background: url(../Images/opening_image.JPG);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    100%{
        transform: translateZ(2000px);
        background: url(../Images/opening_image.JPG);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
       
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    }
}
/* *********************************************************** */
.bloc1{
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 40px;
}
.bloc1 div p{
    text-align: justify;
    padding-top: 45px;
}
.bloc1 h2{
    color: green;
}
.bloc1 p img{
    width: 580px;
}
/* *********************************************************** */
.bloc2 p img{
    width: 100%;
    height: 90vh;
    object-position: 100%;
}
/* *********************************************************** */
.articles{
    padding: 10px;
}
.contenu{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}
.contenus{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.contenu-article{
    width: 230px;
    gap: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.contenu-article p img{
    width: 120px;
}
.lien{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.lien a{
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: green;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.voir{
    display: flex;
    padding-top: 40px;
    padding-bottom: 15px;
    justify-content: center;
}
.voir a{
    padding: 5px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    background-color: green;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
/* *********************************************************** */
.bloc4{
    background-image: url(../Images/background1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bloc4 p, .bloc4 h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 2;
    font-size: xx-large;
}
/* *********************************************************** */
.slider{
    margin-top: 30px;
    overflow: hidden;
}
.slider h3{
    text-align: center;
    padding-bottom: 10px;
}
.under_line{
    width: 100px;
    margin: auto;
    border: 1px solid green;
}
.slider figure{
    display: flex;
    margin-top: 40px;
    animation-duration: 20s;
    animation-name: slider;
    animation-iteration-count: infinite;
}
.slider figure p img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
@keyframes slider{
    0%{
        transform: translate(0);
    }
    5%{
        transform: translate(0);
    }
    10%{
        transform: translate(-300px);
    }
    15%{
        transform: translate(-300px);
    }
    20%{
        transform: translate(-600px);
    }
    25%{
        transform: translate(-600px);
    }
    30%{
        transform: translate(-900px);
    }
    35%{
        transform: translate(-900px);
    }
    40%{
        transform: translate(-1200px);
    }
    45%{
        transform: translate(-1200px);
    }
    50%{
        transform: translate(-1500px);
    }
    55%{
        transform: translate(-1500px);
    }
    60%{
        transform: translate(-1800px);
    }
    65%{
        transform: translate(-1800px);
    }
    70%{
        transform: translate(-2100px);
    }
    75%{
        transform: translate(-2100px);
    }
    80%{
        transform: translate(-2400px);
    }
    85%{
        transform: translate(-2400px);
    }
    90%{
        transform: translate(-2700px);
    }
    95%{
        transform: translate(-2700px);
    }
    100%{
        transform: translate(-3000px);
    }
}
/* *********************************************************** */
.bloc5{
    text-align: center;
    margin-top: 40px;
}
.bloc5 h3{
    padding-bottom: 10px;
}
.spectacles{
    width: 800px;
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.spectacles div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}
.spectacles div p img{
    width: 350px;
    box-shadow: 0px 5px 5px 0px rgba(5, 5, 5, 0.5);
}
/* *********************************************************** */
.bloc6{
    margin: auto;
    width: 800px;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.bloc6 p{
    padding-top: 20px;
}
.bloc6 div{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
.bloc6 div p img{
    width: 350px;
    box-shadow: 0px 0px 5px 0px rgba(5, 5, 5, 0.5);
}
/* *********************************************************** */
.article-plus{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.article-plus a{
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none; 
    background-color: green;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);   
}
/* *********************************************************** */
.bloc7{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.bloc7 h3{
    padding-bottom: 10px;
}
.bloc7 div{
    margin-top: 20px;
}
/* *********************************************************** */
footer{
    color: white;
    text-align: center;
    background-color: green;
}
.bloc8{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
.bloc8 div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.bloc8 div p img{
    opacity: 0.6;
    width: 30px;
    cursor: pointer;
}
.bloc8 div p img:hover{
    opacity: 1;
    transition: 2s;
}
footer h5{
    border: 1px solid white;
}
.last_part p{
    padding: 15px;
}